@media screen and (max-width: 768px){
    .dash-content .title {
    flex-wrap: wrap;
  }
  .dash-content .filter {
      flex-wrap: wrap;
  }
  .dash-content .cards{
    flex-wrap: nowrap;
  }
  .dash-content .cards .card {
    width: 100%;
  }
  .cards .card .icons {
      font-size: 20px;
  }
  .cards .card .text {
      font-size: 9px;
  }
  .cards .card .number {
      font-size: 10px;
  }
  .dash-content select,
  .dash-content input {
      font-size: 10px;
  }
  .sales-growth, .top-sales, .unit-comparison, .daily-sales
  {
      width: 85%;
  }
  .header a.Team11 {
    padding: 14px;
}
}
