@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}
:root {
    /* Colors */
    --body-color: #e4e9f7;
    --sidebar-color: #fff;
    --primary-color: #6596f1;
    --primary-color-light: #f6f5ff;
    --toggle-color: #ddd;
    --text-color: #707070;

    /* Transition */
    --tran-01: all 0.2s ease;
    --tran-02: all 0.3s ease;
    --tran-03: all 0.4s ease;
    --tran-04: all 0.5s ease;
    --tran-05: all 0.6s ease;
}

body {
    background-color: var(--body-color);
    transition: var(--tran-02);
}

/* Dark Mode Colors */
body.dark {
    --body-color: #18191a;
    --sidebar-color: #242526;
    --primary-color: #3a3b3c;
    --primary-color-light: #3a3b3c;
    --toggle-color: #fff;
    --text-color: #ccc;
}

/* header mulai */
.header {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 15px 10px;
}

.header a {
    float: left;
    color: var(--text-color);
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-size: 18px;
    line-height: 12px;
    border-radius: 7px;
}
.header a.Team11 {
    padding: 14px 24px;
}
.header a.team11 {
    font-size: 24px;
    font-weight: bold;
}

.header a:hover {
    background-color: #8686863a;
    color: black;
}

.header a.active {
    background-color: var(--text-color);
    color: white;
}

.header-right {
    float: right;
}

@media screen and (max-width: 500px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }
    .header-right {
        float: none;
    }
}
/* header selesai */

/* ---Sidebar CSS--- */
.sidebar-container {
    position: relative;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background-color: var(--sidebar-color);
    transition: var(--tran-04);
    z-index: 100;
}

.sidebar.close {
    width: 70px;
    padding: 10px 20px;
}

.sidebar.close .text {
    visibility: hidden;
}

.sidebar li {
    height: 50px;
    margin-top: 10px;
    list-style: none;
    display: flex;
    align-items: center;
}

.sidebar li a {
    width: 100%;
    height: 100%;
    padding-left: 10px;
    text-decoration: none;
    display: flex;
    align-items: center;
    border-radius: 10px;
    transition: var(--tran-04);
}

.sidebar li .icon,
.sidebar li .text {
    color: var(--text-color);
}

.sidebar li a:hover {
    background-color: var(--primary-color);
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text {
    color: var(--toggle-color);
}

.sidebar .image img {
    width: 40px;
}

.sidebar-container .image-text {
    display: flex;
    align-items: center;
}

.sidebar-container .image {
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--tran-04);
}

.sidebar.close .sidebar-container .image {
    padding-left: 11px;
}

.sidebar .text {
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color);
    transition: var(--tran-01);
    white-space: nowrap;
}

.header-text {
    display: flex;
    flex-direction: column;
}

.header-text .title {
    font-weight: 700;
}

.header-text .subtitle {
    margin-top: -2px;
}

.header-text .title,
.header-text .subtitle {
    color: var(--text-color);
}

.sidebar-container .toggle {
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background-color: var(--primary-color);
    color: var(--toggle-color);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--tran-02);
    cursor: pointer;
}

.sidebar.close .sidebar-container .toggle {
    transform: translateY(-50%);
    right: -30px;
}

.sidebar .icon {
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar .menu-bar {
    margin-top: 35px;
    height: calc(100% - 100px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-bar .mode {
    position: relative;
    border-radius: 10px;
    background: var(--primary-color-light);
}

.menu-bar .mode .mode-gelap {
    height: 50px;
    width: 60px;
    display: flex;
    align-items: center;
}

.menu-bar .mode .icon {
    position: absolute;
    transition: var(--tran-02);
}

.menu-bar .mode .light {
    opacity: 0;
}

body.dark .menu-bar .mode .light {
    opacity: 1;
}

body.dark .menu-bar .mode .dark {
    opacity: 0;
}

.menu-bar .mode .toggle-switch {
    position: absolute;
    right: 0;
    display: flex;
    height: 100%;
    min-width: 60px;
    align-items: center;
    cursor: pointer;
}

.toggle-switch .switch {
    position: relative;
    height: 23px;
    width: 44px;
    background: var(--toggle-color);
    border-radius: 25px;
    display: flex;
    align-items: center;
}

.switch::before {
    content: "";
    position: absolute;
    height: 15px;
    width: 15px;
    background: var(--sidebar-color);
    border-radius: 100%;
    left: 5px;
    transition: var(--tran-03);
}

body.dark .switch::before {
    left: 24px;
}
/* Sidebar end */

/* Content Start */
.dashboard {
    position: relative;
    background-color: #fff;
    left: 250px;
    height: auto;
    width: calc(100%-100px);
    transition: var(--tran-04);
    min-height: 100vh;
}

.sidebar.close ~ .dashboard {
    left: 100px;
    width: calc(100% - 100px);
}

.dash-content .title {
    display: flex;
    align-items: center;
    padding-left: 24px;
}

.dash-content .title .text {
    font-size: 24px;
    font-weight: 500;
    margin-left: 10px;
}
.dash-content .filter {
    display: flex;
    margin-left: auto;
}

.dash-content select,
.dash-content input {
    background-color: #f6f6f6;
    border: 0;
    outline: 0;
    color: #707070;
    margin: 10px;
    padding: 10px 25px;
}

.dash-content .cards {
    display: flex;
    align-items: center;
    justify-content: stretch;
    flex-wrap: wrap;
    padding-left: 24px;
}

.dash-content .cards .card {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 12px;
    width: 200px;
    padding: 5px 5px;
    margin: 10px;
    background-color: #6596f1;
}

.cards .card .icons {
    font-size: 40px;
}

.txt{
    display: block;
    text-align: center;
}

.cards .card .text {
    display: block;
    font-size: 11px;
    font-weight: 500;
}

.cards .card .number {
    display: block;
    font-size: 28px;
    font-weight: 500;
}

.chart-container{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 40px;
    column-gap: 15px;
    row-gap: 30px;
    justify-content: space-evenly;
}

.chart-label{
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

.chart{
    display: flex;
    align-items: stretch
}

.sales-growth{
    width: 45%;
    background-color: #f9f9f9;
    padding: 14px;
    height: 300px;
    border: 1px solid #ddd;
    border-radius: 12px;
}

.top-sales{
    width: 45%;
    background-color: #f9f9f9;
    padding: 14px;
    height: 300px;
    border: 1px solid #ddd;
    border-radius: 12px;
}

.unit-comparison{
    width: 45%;
    background-color: #f9f9f9;
    padding: 14px;
    height: 300px;
    border: 1px solid #ddd;
    border-radius: 12px;
}

.daily-sales{
    width: 45%;
    background-color: #f9f9f9;
    padding: 14px;
    height: 300px;
    border: 1px solid #ddd;
    border-radius: 12px;
}

@media (max-width: 425px) {
    .sidebar.close{
        width: 10px;
        padding: 0;
        visibility: hidden;
    }
    .sidebar-container.toggle{
        visibility: visible;
    }
    .sidebar{
        padding: 0;
    }
}

@media (max-width: 425px) {
    .dashboard{
        display: contents;
    }
}

@media (max-width: 780px) {
    .dash-content .cards .card {
        width: calc(100% / 2 - 15px);
        margin-top: 15px;
    }
}

@media (max-width: 730px) {
    .dash-content .title {
        flex-wrap: wrap;
    }
    .dash-content .filter {
        flex-wrap: wrap;
    }
}

@media (max-width: 560px) {
    .dash-content .cards .card {
        width: 100%;
    }
}

/* Content End */
footer {
    background-color: black;
}

.copyright {
    font-size: 12px;
    font-family: "Courier New", Courier, monospace;
    padding: 5px 0;
    text-align: center;
    background-color: lightgrey;
}
