/* header mulai */
.header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 15px 10px;
}

.header a {
  float: left;
  color: rgb(174, 0, 249);
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-size: 18px;
  line-height: 12px;
  border-radius: 7px;
}

.header a.team11 {
  font-size: 24px;
  font-weight: bold;
}

.header a:hover {
  background-color: #8686863a;
  color: black;
}

.header a.active {
  background-color: purple;
  color: white;
}

.header-right {
  float: right;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}
/* header selesai */

.contents {
  padding-left: 260px;
}

.container {
    padding: 10px;
}

.overview {
    background-color: rgba(245, 245, 245, 0.8);
    width: 180px;
    padding: 15px 20px;
    border-radius: 10px;
    text-align: justify;
    font-size: 19px;
    display: inline-block;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

p, h5 {
    padding: 5px;
    margin : 0px;
}

h2 {
  padding: 0px 40px;
  margin: 30px 10px 10px 10px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.photo{
    display: inline-block;
    background-color: rgba(225, 221, 223, 0.8);
    padding: 5px;
    border-radius: 5px;
}
