@media screen and (min-width: 769px) and (max-width: 1119px){
    .container{
        width: 100%;
        grid-template-columns: 7rem auto 23rem;
    }
    .header-text .title, .header-text .subtitle{
        display: none;
    }
    .sidebar .text{
        display: none;
    }
    .sidebar .menu-bar a {
        width: 5.6rem;
    }
    .sidebar .menu-bar a:last-child{
        position: relative;
        margin-top: 1.8rem;
    }
    .sales-growth{
        width: 90%;
    }
    
    .top-sales{
        width: 90%;
    }
    
    .unit-comparison{
        width: 90%;
    }
    
    .daily-sales{
        width: 90%;
    }
    .dash-content .title {
        display: block;
        padding-top: 12px;
    }
    .dash-content .title .text {
        margin:0;
    }
    .header a.Team11 {
        padding: 14px;
    }
    .dash-content select, .dash-content input{
        margin-left: 0;
    }
    .dash-content .cards .card {
        /* width: calc(100% / 2 - 15px); */
    }
    .dash-content .title {
        flex-wrap: wrap;
    }
    .dash-content .filter {
        flex-wrap: wrap;
    }
    .sidebar.close ~ .dashboard {
        left: 110px;
    }
    .sidebar.close .sidebar-container .toggle {
        display: none;
    }
}
